USE [master]
GO
/****** Object:  Database [DiagnosticCenterDB]    Script Date: 25/09/2017 11:01:41 ******/
CREATE DATABASE [DiagnosticCenterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DiagnosticCenterDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DiagnosticCenterDB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DiagnosticCenterDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DiagnosticCenterDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DiagnosticCenterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DiagnosticCenterDB]
GO
/****** Object:  Table [dbo].[BILL_INFORMATION]    Script Date: 25/09/2017 11:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_INFORMATION](
	[BILL_NO] [int] NOT NULL,
	[TOTAL_AMOUNT] [numeric](18, 2) NULL,
	[TOTAL_PAID] [numeric](18, 2) NULL,
	[TOTAL_DUE] [numeric](18, 2) NULL,
	[BILL_DATE] [date] NULL,
	[PAT_ID] [int] NULL,
 CONSTRAINT [BILL_INFO_PK] PRIMARY KEY CLUSTERED 
(
	[BILL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAT_TEST_REQ]    Script Date: 25/09/2017 11:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAT_TEST_REQ](
	[TEST_ID] [int] NOT NULL,
	[PAT_ID] [int] NOT NULL,
	[TEST_DATE] [date] NULL,
	[BILL_NO] [int] NULL,
 CONSTRAINT [PAT_TEST_REQ_PK] PRIMARY KEY CLUSTERED 
(
	[TEST_ID] ASC,
	[PAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PATIENT]    Script Date: 25/09/2017 11:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PATIENT](
	[PAT_ID] [int] IDENTITY(5000,1) NOT NULL,
	[PAT_NAME] [varchar](30) NULL,
	[PAT_BIRTHDATE] [date] NULL,
	[PAT_MOBILENO] [varchar](20) NULL,
 CONSTRAINT [PATIENT_PK] PRIMARY KEY CLUSTERED 
(
	[PAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEST]    Script Date: 25/09/2017 11:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEST](
	[TEST_ID] [int] IDENTITY(1000,1) NOT NULL,
	[TEST_NAME] [varchar](50) NULL,
	[TEST_FEE] [numeric](18, 2) NULL,
	[TYPE_ID] [int] NULL,
 CONSTRAINT [TEST_PK] PRIMARY KEY CLUSTERED 
(
	[TEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEST_TYPE]    Script Date: 25/09/2017 11:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEST_TYPE](
	[TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE_NAME] [varchar](30) NULL,
 CONSTRAINT [TESTTYPE_PK] PRIMARY KEY CLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BILL_INFORMATION] ([BILL_NO], [TOTAL_AMOUNT], [TOTAL_PAID], [TOTAL_DUE], [BILL_DATE], [PAT_ID]) VALUES (1709214914, CAST(550.00 AS Numeric(18, 2)), CAST(550.00 AS Numeric(18, 2)), CAST(0.00 AS Numeric(18, 2)), CAST(N'2017-09-21' AS Date), 5000)
INSERT [dbo].[BILL_INFORMATION] ([BILL_NO], [TOTAL_AMOUNT], [TOTAL_PAID], [TOTAL_DUE], [BILL_DATE], [PAT_ID]) VALUES (1709215307, CAST(550.00 AS Numeric(18, 2)), CAST(0.00 AS Numeric(18, 2)), CAST(550.00 AS Numeric(18, 2)), CAST(N'2017-09-21' AS Date), 5002)
INSERT [dbo].[BILL_INFORMATION] ([BILL_NO], [TOTAL_AMOUNT], [TOTAL_PAID], [TOTAL_DUE], [BILL_DATE], [PAT_ID]) VALUES (1709217939, CAST(400.00 AS Numeric(18, 2)), CAST(400.00 AS Numeric(18, 2)), CAST(0.00 AS Numeric(18, 2)), CAST(N'2017-09-21' AS Date), 5001)
INSERT [dbo].[PAT_TEST_REQ] ([TEST_ID], [PAT_ID], [TEST_DATE], [BILL_NO]) VALUES (1000, 5000, CAST(N'2017-09-21' AS Date), 1709214914)
INSERT [dbo].[PAT_TEST_REQ] ([TEST_ID], [PAT_ID], [TEST_DATE], [BILL_NO]) VALUES (1000, 5002, CAST(N'2017-09-21' AS Date), 1709215307)
INSERT [dbo].[PAT_TEST_REQ] ([TEST_ID], [PAT_ID], [TEST_DATE], [BILL_NO]) VALUES (1000, 5010, CAST(N'2017-09-24' AS Date), 1709241463)
SET IDENTITY_INSERT [dbo].[PATIENT] ON 

INSERT [dbo].[PATIENT] ([PAT_ID], [PAT_NAME], [PAT_BIRTHDATE], [PAT_MOBILENO]) VALUES (5000, N'Md. Solaiman Hosen', CAST(N'1996-05-10' AS Date), N'01923856072')
INSERT [dbo].[PATIENT] ([PAT_ID], [PAT_NAME], [PAT_BIRTHDATE], [PAT_MOBILENO]) VALUES (5001, N'Somaiya Jannat', CAST(N'1995-12-28' AS Date), N'01760155030')
INSERT [dbo].[PATIENT] ([PAT_ID], [PAT_NAME], [PAT_BIRTHDATE], [PAT_MOBILENO]) VALUES (5002, N'Nusrat Nupur', CAST(N'1992-10-09' AS Date), N'01745107288')
SET IDENTITY_INSERT [dbo].[PATIENT] OFF
SET IDENTITY_INSERT [dbo].[TEST] ON 

INSERT [dbo].[TEST] ([TEST_ID], [TEST_NAME], [TEST_FEE], [TYPE_ID]) VALUES (1000, N'RBS', CAST(150.00 AS Numeric(18, 2)), 1)
INSERT [dbo].[TEST] ([TEST_ID], [TEST_NAME], [TEST_FEE], [TYPE_ID]) VALUES (1001, N'SGPT(ALT)', CAST(400.00 AS Numeric(18, 2)), 1)
INSERT [dbo].[TEST] ([TEST_ID], [TEST_NAME], [TEST_FEE], [TYPE_ID]) VALUES (1002, N'LS Spine', CAST(1100.00 AS Numeric(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[TEST] OFF
SET IDENTITY_INSERT [dbo].[TEST_TYPE] ON 

INSERT [dbo].[TEST_TYPE] ([TYPE_ID], [TYPE_NAME]) VALUES (1, N'Blood')
INSERT [dbo].[TEST_TYPE] ([TYPE_ID], [TYPE_NAME]) VALUES (2, N'X-Ray')
INSERT [dbo].[TEST_TYPE] ([TYPE_ID], [TYPE_NAME]) VALUES (3, N'USG')
SET IDENTITY_INSERT [dbo].[TEST_TYPE] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [PATIENT_UC]    Script Date: 25/09/2017 11:01:41 ******/
ALTER TABLE [dbo].[PATIENT] ADD  CONSTRAINT [PATIENT_UC] UNIQUE NONCLUSTERED 
(
	[PAT_MOBILENO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [TEST_UC]    Script Date: 25/09/2017 11:01:41 ******/
ALTER TABLE [dbo].[TEST] ADD  CONSTRAINT [TEST_UC] UNIQUE NONCLUSTERED 
(
	[TEST_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BILL_INFORMATION]  WITH CHECK ADD  CONSTRAINT [BILL_INFO_FK] FOREIGN KEY([PAT_ID])
REFERENCES [dbo].[PATIENT] ([PAT_ID])
GO
ALTER TABLE [dbo].[BILL_INFORMATION] CHECK CONSTRAINT [BILL_INFO_FK]
GO
ALTER TABLE [dbo].[PAT_TEST_REQ]  WITH CHECK ADD  CONSTRAINT [PAT_TEST_REQ_FK] FOREIGN KEY([BILL_NO])
REFERENCES [dbo].[BILL_INFORMATION] ([BILL_NO])
GO
ALTER TABLE [dbo].[PAT_TEST_REQ] CHECK CONSTRAINT [PAT_TEST_REQ_FK]
GO
ALTER TABLE [dbo].[TEST]  WITH CHECK ADD  CONSTRAINT [TEST_FK] FOREIGN KEY([TYPE_ID])
REFERENCES [dbo].[TEST_TYPE] ([TYPE_ID])
GO
ALTER TABLE [dbo].[TEST] CHECK CONSTRAINT [TEST_FK]
GO
USE [master]
GO
